---
layout: default
---

{% assign authors = page.author | split: "," %}

<article class="post">

    <div class="post--header mb-5">
        <h1 class="post--title">{{ page.title }}</h1>

        <p class="post--meta">

            {% for author in authors %}
                {% assign authorInfo = site.data.authors[author] %}
                {% if authorInfo.gravatar %}
                    <img
                        src="https://www.gravatar.com/avatar/{{authorInfo.gravatar}}.png?s=50&d=identicon"
                        alt="{{ authorInfo.name }}"
                        class="post--author-avatar rounded-circle"
                    />
                {% endif %}
            {% endfor %}

            Par

            {% for author in authors %}
                {% assign authorInfo = site.data.authors[author] %}
                <span class="post--author">
                    {{ authorInfo.name }},
                </span>
            {% endfor %}

            le {% include format_date.html date=page.date %}
        </p>

    </div>



    <article class="post--content">
        {{ content }}
    </article>


    <div class="post--fork-fix">
        Si vous trouvez une typo, n'hésitez pas <a href="http://github.com/{{ site.comment_repository }}/edit/{{ site.git_branch }}/{{ page.path }}">à cloner et modifier le fichier</a>. Merci d'avance :)
    </div>

</article>

<hr class="my-5" />

{% include comments.html %}
